<div id="be-notified">
<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
  <form action="https://pascallaliberte.us11.list-manage.com/subscribe/post?u=3782ecad016861895a5f38695&amp;id=fb798e90ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    
    <h2 style="text-transform: uppercase">Be The First To Know About The EBook</h2>
    
    <p>Plus, receive a link to a sample chapter when you subscribe.</p>
    
    <div class="mc-field-group">
    	<label for="mce-EMAIL">Email Address</label>
    	<input type="email" value="" name="EMAIL" id="mce-EMAIL" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
    </div>
    <div class="mc-field-group">
    	<label for="mce-FNAME">First Name (optional)</label>
    	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
    </div>
    <div class="mc-field-group">
    	<label for="mce-LNAME">Last Name (optional)</label>
    	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
    </div>
    
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3782ecad016861895a5f38695_fb798e90ef" tabindex="-1" value=""></div>
    <div class="mc-status"></div>
    <div><input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
  </form>
</div>

</div>
