.book {
  .navigation {
    display: none;
  }

  @media (max-width: $reference-width-xs-until) {
    &::before {
      background-color: transparent;
    }
    
    main {
      padding: 0;
      margin-bottom: 0;
    }
  }
  
  article {
    font-family: $secondary-font-family;
    font-size: rem(16px);
    line-height: 1.5;
  }
  
  h1 {
    color: $secondary-color;
    font-weight: normal;
    font-family: $mono-font-family;
    font-size: rem(24px);
    line-height: (33 / 32);
    
    margin-bottom: rem(44px);
    
    @media (min-width: $reference-width-md-until + 1px) {
      margin-right: rem(80px);
    }
  }
  
  h2 {
    font-size: rem(18px);
    line-height: (20/18);
    text-transform: uppercase;
    margin-top: rem(53px);
    margin-bottom: 1em;
    font-family: $mono-font-family;
    color: $primary-dark-color;
    letter-spacing: 0.03em;
    font-weight: bold;
    position: relative;
    
    &::before {
      position: absolute;
      content: '';
      right: calc(100% + 1rem);
      top: (20/18) + 0px;
      height: 1em;
      background-color: transparentize(lighten($primary-dark-color, 0.5), 0.8);
      width: rem(26px);
    }
    
    acronym {
      text-transform: none;
    }
  }
  
  h2.question {
    text-transform: none;
    font-weight: normal;
    line-height: (24/18);
  }
  
  img {
    border: rem(36px) solid transparentize($primary-color, .88);
    width: calc(100% + 7.2rem);
    margin-left: rem(-36px);
    height: auto;
    
    @media (max-width: $reference-width-xs-until) {
      border-width: rem(20px);
      width: calc(100% + 2rem);
      margin-left: rem(-18px);
    }
  }
  
  pre.highlight {
    padding: rem(18px);
    margin-left: rem(-18px);
    margin-right: rem(-18px);
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    
    -webkit-overflow-scrolling: touch;
    
    @media (max-width: $reference-width-xs-until) {
      margin-left: 0;
      margin-right: 0;
    }
    
    @media (min-width: ($reference-width-xs-until + 1px)) and (max-width: $reference-width-md-until) {
      margin-right: rem(-90px);
    }
    
    @media (min-width: $reference-width-md-until + 1px) {
      margin-right: rem(-145px);
    }
  }
}

@media (max-width: $reference-width-xs-until) {
  .book-wrapper {
    overflow-x: hidden;
    max-width: 100vw;
  }

  .book-canvas {
    animation: left 1.5s ease;
    
    display: flex;
    flex-direction: row;
    width: 200vw;
    
    position: relative;
    left: 0;
    
    &::before {
      position: absolute;
      content: '';
      background-color: white;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -10;
      
      width: calc(100vw - 1.8rem);
    }
  }
  
  .book-nav, .book-content {
    flex: 1;
    flex-basis: 100vw;
    width: 100vw;
  }
  
  .book-canvas {
    left: -100vw;
  }
  
  .book-content {
    padding-top: rem(20px);
    padding-left: $container-padding * 2;
    padding-right: $container-padding;
    padding-bottom: rem(100px);
  }
}

.book-nav-toggle {
  display: none;
}

@media (max-width: $reference-width-xs-until) {
  
  #contents:target {
    left: 0;
  }
  
  .book-nav {
    position: relative;
  }
  
  .book-nav-list {
    max-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: rem(30px);
    padding-bottom: rem(80px);
  }
  
  .book-nav-toggle {
    display: block;
    position: absolute;
    right: 0;
    top: rem(10px);
    z-index: 10;
    transform: translateX(rem(140px));
    text-align: center;
    font-size: rem(14px);
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    width: rem(260px);
    height: rem(45px);
    
    &::before, &::after {
      content: '';
      position: absolute;
      top: rem(4px);
      right: rem(4px);
      left: rem(4px);
      bottom: rem(4px);
      background-color: $secondary-color;
      transform: skew(-14deg, 0deg);
    }
    
    &::before {
      background-color: $shadow-color;
      transform: skew(-14deg, 0deg) translateX(rem(2px)) translateY(rem(2px));
    }
    
    a {
      &, &:visited, &:active, &:focus {
        color: white !important;
        text-decoration: none;
      }
      
      padding: rem(10px 15px);
      z-index: 10;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      white-space: nowrap;
      
      svg {
        margin-bottom: 0.2em;
      }
    }
    
    a[href="#contents"] {
      width: rem(140px);
      text-align: left;
      right: 0;
      svg {
        margin-left: rem(3px);
        margin-right: rem(10px);
      }
    }
    a[href="#"] {
      width: rem(120px);
      left: 0;
      text-align: right;
      svg {
        margin-left: rem(10px);
      }
    }
  }
  
}

.book-nav {
  
  @media (min-width: ($reference-width-xs-until + 1px)) and (max-width: $reference-width-md-until) {
    float: left;
    margin-left: rem(-200px);
    width: rem(160px);
    margin-top: rem(165px);
  }
  
  @media (min-width: $reference-width-md-until + 1px) {
    float: left;
    margin-left: rem(-257px);
    width: rem(200px);
    margin-top: rem(165px);
  }
  
  ul {
    list-style: none;
    font-size: rem(14px);
    @media (max-width: $reference-width-xs-until) {
      font-size: rem(20px);
    }
    line-height: 1.2;
    padding: 0;
  }
  
  li {
    margin-bottom: 0.8em;
  }
  
  li li {
    margin-left: rem(20px);
    
    @media (min-width: ($reference-width-xs-until + 1px)) and (max-width: $reference-width-md-until) {
      margin-left: rem(10px);
    }
  }
  
  a {
    color: $text-color;
    
    &.active {
      
      &, &:hover, &:active {
        color: $primary-color;
        text-decoration: none;
        cursor: text;
      }
    }
  }
  
  .book-nav-part-num {
    text-transform: uppercase;
    display: block;
    margin-bottom: 1em;
    margin-top: 2em;
    font-size: 0.8em;
    font-weight: bold;
  }
}

.book-next-link-wrapper {
  font-family: $mono-font-family;
  a {
    color: $secondary-color;
    text-decoration: underline;
  }
}
