.book {
  font-family: $secondary-font-family;
  font-size: rem(16px);
  line-height: 1.5;
  
  margin-top: 80px;
  
  h1 {
    color: $secondary-color;
    font-weight: normal;
    font-family: $mono-font-family;
    font-size: rem(24px);
    line-height: (33 / 32);
    
    margin-bottom: rem(44px);
    
    @media (min-width: $reference-width-md-until + 1px) {
      margin-right: rem(80px);
    }
  }
  
  h2 {
    font-size: rem(18px);
    line-height: (20/18);
    text-transform: uppercase;
    margin-top: rem(53px);
    margin-bottom: 1em;
    font-family: $mono-font-family;
    color: $primary-dark-color;
    letter-spacing: 0.03em;
    font-weight: bold;
    position: relative;
    
    &::before {
      position: absolute;
      content: '';
      right: calc(100% + 1rem);
      top: (20/18) + 0px;
      height: 1em;
      background-color: transparentize(lighten($primary-dark-color, 0.5), 0.8);
      width: rem(26px);
    }
    
    acronym {
      text-transform: none;
    }
  }
  
  h2.question {
    text-transform: none;
    font-weight: normal;
    line-height: (24/18);
  }
  
  img {
    border: rem(36px) solid transparentize($primary-color, .88);
    width: calc(100% + 7.2rem);
    margin-left: rem(-36px);
    height: auto;
    
    @media (max-width: $reference-width-xs-until) {
      border-width: rem(20px);
      width: calc(100% + 2rem);
      margin-left: rem(-18px);
    }
  }
  
  pre.highlight {
    padding: rem(18px);
    margin-left: rem(-18px);
    margin-right: rem(-18px);
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    
    -webkit-overflow-scrolling: touch;
    
    @media (max-width: $reference-width-xs-until) {
      margin-left: 0;
      margin-right: 0;
    }
    
    @media (min-width: ($reference-width-xs-until + 1px)) and (max-width: $reference-width-md-until) {
      margin-right: rem(-90px);
    }
    
    @media (min-width: $reference-width-md-until + 1px) {
      margin-right: rem(-145px);
    }
  }
}

.book-nav {
  float: left;
  
  @media (max-width: $reference-width-xs-until) {
  }
  
  @media (min-width: ($reference-width-xs-until + 1px)) and (max-width: $reference-width-md-until) {
    margin-left: rem(-200px);
    width: rem(160px);
    margin-top: rem(335px);
  }
  
  @media (min-width: $reference-width-md-until + 1px) {
    margin-left: rem(-257px);
    width: rem(200px);
    margin-top: rem(325px);
  }
  
  ul {
    list-style: none;
    font-size: rem(14px);
    line-height: 1.2;
    padding: 0;
  }
  
  li {
    margin-bottom: 0.8em;
  }
  
  li li {
    margin-left: rem(20px);
    
    @media (min-width: ($reference-width-xs-until + 1px)) and (max-width: $reference-width-md-until) {
      margin-left: rem(10px);
    }
  }
  
  a {
    color: $text-color;
    
    &.active {
      
      &, &:hover, &:active {
        color: $primary-color;
        text-decoration: none;
        cursor: text;
      }
    }
  }
  
  .book-nav-part-num {
    text-transform: uppercase;
    display: block;
    margin-bottom: 1em;
    margin-top: 2em;
    font-size: 0.8em;
    font-weight: bold;
  }
}
