.book {
  font-family: $secondary-font-family;
  font-size: rem(16px);
  line-height: 1.5;
  
  h1 {
    font-family: $mono-font-family;
    margin-top: 2em;
    margin-bottom: 1.5em;
    color: black;
  }
  
  h2 {
    font-family: $primary-font-family;
    // text-transform: uppercase;
    font-size: rem(15px);
    margin-top: 4em;
    margin-bottom: 2em;
    color: black;
    font-weight: bold;
    letter-spacing: 0.04em;
  }
  
  h3 {
    font-family: $secondary-font-family;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 1.5em;
  }
}

.book-nav {
  margin-left: rem(-257px);
  width: rem(200px);
  margin-top: rem(300px);
  float: left;
  
  ul {
    list-style: none;
    font-size: rem(14px);
    line-height: 1.2;
    padding: 0;
  }
  
  li {
    margin-bottom: 0.8em;
  }
  
  li li {
    margin-left: rem(20px);
  }
  
  a {
    color: $text-color;
    
    &.active {
      
      &, &:hover, &:active {
        color: $primary-color;
        text-decoration: none;
        cursor: text;
      }
    }
  }
  
  .book-nav-part-num {
    text-transform: uppercase;
    display: block;
    margin-bottom: 1em;
    margin-top: 2em;
    font-size: 0.8em;
    font-weight: bold;
  }
}
