@import "../node_modules/awesome-sass-easing/_sass-easing.scss";

// Variables

$container-width: 1200px;
$container-padding: 18px;

$primary-color: #26B4A5;
$primary-dark-color: #4C7671;
$secondary-color: #4C648A;
$text-color: #676767;
$link-color: $primary-color;
$highlight-color: $primary-color;

$font-xl: 58px;
$font-md: 22px;
$font-sm: 18px;
$font-xs: 16px;

$system-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$primary-font-family: 'Lato', $system-font-family;
$mono-font-family: 'Inconsolata', monospace, $system-font-family;

$reference-width-xs:    375px;
$reference-width-xs-until: 525px;
$reference-width-md:    768px;
$reference-width-md-until: 850px;
$reference-width-xl: 1024px;

// Mixin

@mixin container($padding) {
  max-width: $container-width;
  padding: 0 $padding;
  margin: auto;
}

@media only screen and (max-width: $reference-width-xs-until) {
  html {
    font-size: root-vw-font-size($reference-width-xs);
  }
  
  body {
    padding-left: 0;
    padding-right: 0;
  }
    
  main {
    max-width: 100%;
    padding-left: $container-padding * 2;
    padding-right: $container-padding;
    
    font-size: rem(14px);
    line-height: (25 / 18);
    
    margin-bottom: rem(100px);
  }
  
  body::before {
    width: calc(100vw - 1.8rem);
  }
}

@media only screen and (min-width: ($reference-width-xs-until + 1px)) and (max-width: $reference-width-md-until) {
  html {
    font-size: root-vw-font-size($reference-width-md);
  }
    
  main {
    padding: rem(18px);
    width: rem(496px);
    margin-left: rem(100px);
    
    font-size: rem(18px);
    line-height: (25 / 18);
    
    margin-bottom: rem(100px);
  }
  
  body::before {
    width: calc(100vw - 10rem);
  }
}

@media only screen and (min-width: ($reference-width-md-until + 1px)) {
  html {
    font-size: root-vw-font-size($reference-width-xl);
  }
    
  main {
    flex: 1;
    padding: rem(18px);
    width: rem(496px);
    margin-left: rem(257px);
    
    font-size: rem(18px);
    line-height: (25 / 18);
    
    margin-bottom: rem(100px);
  }
  
  body::before {
    width: calc(100vw - 25.7rem);
  }
}


// Global

body {
  font-family: $primary-font-family;
  color: $text-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  background-color: #eee;
  
  &::before {
    position: absolute;
    content: '';
    background-color: white;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
  }
}

strong {
  color: black;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $primary-color;
  }
}

p, ul, ol {
  margin-bottom: 1.5em;
}

li {
  margin-bottom: 1em;
}



// Shared

.button {
  display: inline-block;
  border: 1px solid lighten($link-color, 40%);
  border-radius: 50px;
  padding: 15px 30px;
  font-weight: 300;

  &:hover {
    background-color: lighten($link-color, 49%);
  }
}

.accent {
  color: $primary-color;
}


// Components & pages

.navigation {

  @include container($container-padding);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 10px;

  padding-bottom: 10px;
  border-bottom: 1px solid lighten($link-color, 40%);

  &__branding {
      display: flex;
      align-items: center;
  }

  &__title {
    color: $text-color !important;
    font-size: $font-md;
    font-weight: 500;
  }

  &__logo {
    margin-right: 10px;
  }

  &__logo-img {
    height: 40px;
    width: 40px;
  }

  &__links {
    display: flex;
    flex-direction: row;
  }

  &__link {
    margin-left: 30px;
    font-size: $font-xs;

    &--active {
      color: $primary-color;
    }
  }

}

.home {

  @include container($container-padding);

  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;


  &__headline-container {
    padding: 0 $container-padding * 3;
  }

  &__headline {
    font-size: $font-xl;
  }

}


.page {

  @include container($container-padding);
  margin-top: 60px;

  &__header {
    padding: 0 $container-padding;
  }


  &__content {
    padding: 0 $container-padding;
  }
}

.blog {
  @include container($container-padding);
  margin-top: 60px;


  &__post {

    padding: 0 $container-padding;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid lighten($link-color, 40%);

    @media (max-width: 900px) {
      flex-direction: column;
    }

    &:first-child {
      padding-top: 10px;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__date {
    padding-top: 15px;
    width: 30%;
    color: $link-color;
  }

  &__content {
    width: 100%;
  }


  &__link {
    &:hover {
      color: $link-color;
    }
  }

  &__title {
    color: $text-color;
    font-size: $font-md;
    padding-top: 0;
  }

  &__excerpt {
    color: $link-color;
  }
}


.footer {
  border-top: 1px solid lighten($link-color, 40%);
  padding: 30px 0;
  margin-top: 80px;

  &__container {
    @include container($container-padding);
    color: $link-color;
  }

}
