.footer {
  text-align: right;
  display: block;
  position: absolute;
  right: rem(18px);
  bottom: rem(18px);
  font-family: $primary-font-fallback;
  width: calc(100% - #{rem(36px) * 2});
  max-width: rem(500px);
  
  font-size: rem(12px);
  
  &, a, button {
    color: mix($text-color, white, 50%);  
  }
  
  a {
    text-decoration: underline;
  }
  
  .lato-400-loaded.lato-400i-loaded.lato-700-loaded.lato-700i-loaded & {
    font-family: $primary-font-family;
  }
  
  button {
    padding: 0;
    border: none;
    background: transparent;
    text-decoration: underline;
  }
}

.footer-separator {
  margin: 0 0.5em;
  font-weight: bold;
  font-size: rem(16);
  line-height: rem(12px);
  position: relative;
  display: inline-block;
}
