.footer {
  text-align: right;
  display: block;
  position: absolute;
  right: rem(18px);
  bottom: rem(18px);
  font-family: $primary-font-family;
  width: calc(100% - #{rem(36px) * 2});
  
  font-size: rem(12px);
  
  &, a {
    color: mix($text-color, white, 50%);  
  }
}

.footer-separator {
  margin: 0 0.5em;
  font-weight: bold;
  font-size: rem(16);
  line-height: rem(12px);
  position: relative;
  display: inline-block;
}
