.heading {
  margin-top: rem(120px);
  margin-bottom: rem(26px);
  
  svg {
    margin-left: rem(-35px);
    margin-top: rem(1px);
    display: block;
    
    @media only screen and (max-width: $reference-width-xs-until) {
      margin-left: rem(-28px);
    }
  }
  
  .return-link {
    display: inline-block;
    font-family: $mono-font-family;
    font-size: rem(12px);
    line-height: 1;
    color: black;
    max-width: rem(70px);
    margin-bottom: rem(15px);
    
    &:hover, &:focus {
      color: $primary-color;
    }
  }
}
