.heading {
  margin-top: rem(120px);
  margin-bottom: rem(26px);
  
  svg {
    margin-left: rem(-35px);
    
    @media only screen and (max-width: $reference-width-xs-until) {
      margin-left: rem(-28px);
    }
  }
}
