.navigation {
  text-align: right;
  display: block;
  position: absolute;
  right: 2em;
  top: 2em;
  font-family: $mono-font-family;
  text-transform: uppercase;
  width: 100%;
}

.navigation-link {
  margin-left: 2em;
  text-decoration: underline;
  font-weight: bold;
  font-size: rem(16px);
  
  &.active {
    text-decoration: none;
  }
  
  text-decoration: none;
  
  .icon-arrow-right {
    path {
      stroke: $primary-color;
    }
  }
}
