.post {
  
  margin-top: 80px;
  
  h1 {
    color: $secondary-color;
    font-weight: normal;
    font-family: $mono-font-fallback;
    font-size: rem(24px);
    line-height: (33 / 32 / $mono-font-fallback-line-height-delta);
    
    .source-code-pro-400-loaded & {
      font-family: $mono-font-family;
      line-height: (33 / 32);
    }
    
    margin-bottom: rem(44px);
    
    @media (min-width: $reference-width-md-until + 1px) {
      margin-right: rem(80px);
    }
  }
  
  h2 {
    font-size: rem(18px);
    line-height: (20 / 18 / $mono-font-fallback-line-height-delta);
    text-transform: uppercase;
    margin-top: rem(53px);
    margin-bottom: 1em;
    font-family: $mono-font-fallback;
    color: $secondary-color;
    letter-spacing: 0.03em;
    font-weight: bold;
    position: relative;
    
    .source-code-pro-700-loaded & {
      font-family: $mono-font-family;
      line-height: (20/18);
    }
    
    &::before {
      position: absolute;
      content: '';
      right: calc(100% + 1rem);
      top: (20/18) + 0px;
      height: 1em;
      background-color: transparentize(lighten($secondary-color, 0.5), 0.8);
      width: rem(26px);
    }
  }
  
  h3 {
    font-size: rem(18px);
    line-height: (20/18);
    margin-top: rem(53px);
    margin-bottom: 1em;
    color: $secondary-color;
    letter-spacing: 0.03em;
    font-weight: bold;
    position: relative;
  }
  
  img {
    border: rem(36px) solid transparentize($secondary-color, .88);
    width: calc(100% + 7.2rem);
    margin-left: rem(-36px);
    height: auto;
    
    @media (max-width: $reference-width-xs-until) {
      border-width: rem(20px);
      width: calc(100% + 2rem);
      margin-left: rem(-18px);
    }
  }
  
  blockquote {
    position: relative;
    font-style: italic;
    padding-left: 1em;
    
    &::before {
      position: absolute;
      content: '';
      right: calc(100% + 1rem);
      top: (20/18) + 0px;
      bottom: 0;
      background-color: transparentize(lighten($primary-color, 0.5), 0.8);
      width: rem(26px);
    }
  }
  
  pre.highlight {
    padding: rem(18px);
    margin-left: rem(-18px);
    margin-right: rem(-18px);
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    
    -webkit-overflow-scrolling: touch;
    
    @media (max-width: $reference-width-xs-until) {
      margin-left: 0;
      margin-right: 0;
    }
    
    @media (min-width: ($reference-width-xs-until + 1px)) and (max-width: $reference-width-md-until) {
      margin-right: rem(-175px);
    }
    
    @media (min-width: $reference-width-md-until + 1px) {
      margin-right: rem(-275px);
    }
  }
}
