---
layout: default
---
<header class="heading">
  <a href="/">{% include modestjs-works-logo.svg %}</a>
  {% include articles-tab.svg %}
</header>

<div class="blog">
  <ol reversed>
  {% for post in site.posts %}
    {% assign date_format = site.minima.date_format | default: "%B %-d" %}
    <li>
      <div class="blog__date">
        {{- post.date | date: date_format -}}
      </div>
      <a class="blog__link" href="{{ post.url | relative_url }}">
        {{- post.title | escape -}}
      </a>
    </li>
  {% endfor %}
  </ol>
</div>

{% include blog-footer.html %}
