---
layout: default
---

<header class="heading">
  <a href="/">{% include modestjs-works-logo.svg %}</a>
  {% include articles-tab.svg %}
</header>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post__container">
    <header class="post__header">
      <h1 class="post__title" itemprop="name headline">{{ page.title | escape }}</h1>
    </header>

    <div class="post__content" itemprop="articleBody">
      {{ content }}
    </div>
    
    <hr>
    <p><em>Hey! Pascal here. I'm writing a short <a href="/">book on how writing Modest JS should be enough to build your app idea</a>. No need to be a star developer, no need to show off the Silicon Valley skills, just confidence is making a front-end that simply works. <a href="/">Check out the book and subscribe for a sample chapter.</a></em></p>
  </div>
</article>
