---
layout: default
---

<header class="heading">
  {% include modestjs-works-logo.svg %}
  {% include articles-tab.svg %}
</header>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post__container">
    <header class="post__header">
      <h1 class="post__title" itemprop="name headline">{{ page.title | escape }}</h1>
    </header>

    <div class="post__content" itemprop="articleBody">
      {{ content }}
    </div>

    {% include email-sign-up-form.html %}
  </div>
</article>
